* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


.header-container {
    height: 807px;
    background-color: #faf0f0;
    background-image: url('../assets/images/header_bg.png'), url('../assets/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}


/* Navbar*/
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 225px;
    background-color: #faf0f0;

}

nav li {
    list-style: none;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

nav .logo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;

    /* Dark 01 */

    color: #181818;
}

.btn-primary {
    width: 150px;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    /* background-color: #FD6E0A; */
    color: #FFFFFF;
    background-image: linear-gradient(rgb(83, 8, 189),rgb(111, 1, 189))

}

.btn-primary:hover {

    background-image: linear-gradient(rgba(77, 189, 8, 0.733),rgb(35, 189, 1))
    

}

.menu-hover:hover {

    color: #8607db
    
}


.primary-color {
    color: #8607db;
}

/* Navbar  End*/


/* Header Bannner*/

.banner-image #hridoy {

}

.header-banner {
    display: flex;
    margin: 50px;
    
}


.banner{
    margin: 100px 175px;
}


.banner-sub-title {
    color: #474747;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    padding: 0;
    
    

}

.banner-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    padding: 0;
    
}

.banner-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    padding: 0;
    
    /* or 167% */


    /* Dark 03 */

    color: #757575;
    margin-bottom: 30px;
}



.contact-btn {
    width: 150px;
    height: 55px;
    border: 1px solid #FD6E0A;
    ;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    background: #FFF8F3;
    color: #FD6E0A;
    margin-left: 30px;

}

.contact-btn:hover{
    color: azure;
    border: 1px solid white;
    background-image: linear-gradient(rgba(77, 189, 8, 0.733),rgb(35, 189, 1))
}



/*Header banner close*/

/*About me Main*/

.about-me-container {
    max-height: 1140px;
    background-color: #FFF8F3;
    margin: 130px 230px;
    border: none;
    border-radius: 10px;
}

.about-me {
    padding: 130px 100px;
    text-align: center;

}

.about-me h4,
p {
    margin-bottom: 30px;

}

.about-me h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    /* identical to box height */

    text-align: center;

    /* Dark 01 */

    color: #181818;

}

.about-me p {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    /* Dark 03 */

    color: #757575;
}

table {
    margin: 0 auto;
}

th,tr {
    padding: 0px 15px 0px 15px;
}

td{
    padding: 15px;
}

/*about section close*/

.what-i-do-container {
    margin-top: 130px;
}


.what-i-do-h {
    text-align: center;
    margin: 30px 345px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    /* identical to box height */

    text-align: center;

    /* Dark 01 */

    color: #181818;
}

.what-i-do-p {
    text-align: center;
    margin: 30px 345px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    /* Dark 03 */

    color: #757575;

}

.skilled .item:hover{
    background-color: #8607db57;
}




.skilled {
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;

}

.item {

    margin: 30px 24px;
    padding: 20px 30px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);

}

.item img {

    margin: 0px 0px 30px 0;


}

.item h2 {

    margin: 0px 0px 20px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    /* Dark 01 */

    color: #181818;


}

.item p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */


    /* Dark 03 */

    color: #757575;
}



/* Grid Summary */

.summary h4{
    margin: 130px 0px 113px 0px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 48px;
/* identical to box height */

text-align: center;

/* Dark 01 */

color: #181818;
}

.grid-sum{
    display: grid;
    grid-template-columns:repeat(3 , 1fr);
    grid-gap: 71px;
    background-color: white;

    position: relative;
    padding: 0px 85px;
    margin-top: 113px 0 0 0;
    
}

.grid-item{
    background-color: #faf0f0;
    border: none;
    border-radius: 10px;
    

}

.grid-item:hover{
    background-color: #6002dc37;
    

}



.grid-item h1 , h2 ,p {
    padding:0px 20px 0px 20px;
}

.grid-item h1{
    margin-top: 20px;
}

.grid-sum h1{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
/* identical to box height */


/* Dark 02 */

color: #474747;
}

.grid-sum h2{
    margin: 30px 0 10px 0;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 34px;
}

.grid-sum .h-unuversity{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
}

.grid-sum p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 27px;

/* Dark 03 */

color: #757575;
}



.mid-btn{
    display: flex;
    padding: 0 10px;

}

.download-btn{
    
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    
    color: #FFFFFF;
    
    margin: 50px auto 113px auto;
    background-image: linear-gradient(rgb(83, 8, 189),rgb(111, 1, 189))
    
    

}

.download-btn:hover{
    
   
    background-image: linear-gradient(rgba(77, 189, 8, 0.733),rgb(35, 189, 1))
    
    

}




/*Footer*/

.footer-container{
    background-color: #FFF8F3;
    display: flex;
}

.footer{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: space-between;
    padding: 0px 230px;
    margin-top:113px;
}

.footer .mForm{
    margin-left: 50px;
}

.footer .letsConnect{
    margin-right: 50px;
}




.footer input{
    display: block;
    margin: 20px 0px;
    background-color: #FFFFFF;
    padding: 15px 200px 15px 18px;
    border: none;
    border-radius: 5px;
    

}

.footer #message{
    width: 205px;
    height: 191px;
    border-radius: 5px;
    display:block;
    
}

input:focus{
    outline: #860cf1;
    outline-style:solid;
    outline-width: 1px;
}



    

.submit-btn{
    
    
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 5px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
        
        color: #FFFFFF;
        margin: 20px 0px 24px 0px;
        background-image: linear-gradient(rgb(83, 8, 189),rgb(111, 1, 189))
}

.submit-btn:hover{
    background-image: linear-gradient(rgba(77, 189, 8, 0.733),rgb(35, 189, 1))
}

.letsConnect h1,img{
    margin-bottom: 10px;
}

.letsConnect img{
    cursor: pointer;
}

.letsConnect .social-icon{
    margin:15px 5px 0px 0px;
}